html {
    padding: 10px;
    display: flex;
    justify-content: center;
}

#container {
    background-color: #ffffff;
    width: 80vw;
    padding: 100px;
    border: 1px solid gray;
}

#title-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

h2 {
    font-size: 18px;
}

ul {
    margin-left: 50px;
}

#footer {
    width: 50%;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

button {
    width: 200px;
    height: 50px;
}

#btn-download {
    font-size: 16px;
    background-color: dodgerblue;
}

#btn-contact {
    font-size: 16px;
    background-color: darkslateblue;
}